{% extends 'base.html' %}
{% load hero_tags %}

{% block content %}

<ul class="list-articles">
    {% for p in colls %}
    <li>
      <div class = 'article-panel'>

        <h3>{{p.name}}</h3>
        <div class="clear"></div>
              {{p.content}}
          <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Подробнее</a></p>
      </div>

      <p>
      {% if p.photo %}
        <img src="{{p.photo.url}}">
      {% endif %}
      <hr>


      <p>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
